<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= image_tag group.get_image, size: '50x50' %></td>
        <td>
          <%= link_to group_path(group.id) do %>
            <%= group.name %>
          <% end %>
        </td>
        <td><%= group.introduction %></td>
        <td><%= group.group_users.count.to_i + 1 %> 人</td> <!--オーナー1人分を追加-->
        <td>
          <% if group.owner_id == current_user.id %>
            <%= link_to "Edit", edit_group_path(group.id), class:"btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
